* {
    margin: 0;
    padding: 0;
}
body {
    background: #000000;
}
.box {
    background: crimson;
    color: cornsilk;
    font-size: 20px;
    font-family: sans-serif;
    width: 300px; /* ширина */
    /*height: 150px; /* высота */
    /*overflow: auto; /* visible | hidden | scroll | auto */
    /*
        vh - viewport height
        vw - viewport width
    */
    border-width: 10px;
    border-color: #ff0;
    border-style: solid; /* dotted | dashed | solid | double |  none*/ 
    border: 5px solid;
    border-right-width: 10px;
    border-right-color: #0f0;
    text-align: justify;
    line-height: 1;
    padding: 20px 50px;
    margin: 20px 40px 70px 20px;
    display: inline-block; /* block | inline */
}

/* ДЗ: Сделать горизонтальную панель меню из 3 ссылок. */